#cr7{
    border: 6px solid white;
    padding: 10px;
    transition: 0.3s;
    font-weight: 700px;
    border: 5px;
    color: white;
}
#cr7:hover{
    border-color: red;
    transform: scale(1.1);
    Color: yellow;
    padding: 0px;
}
#fotoneymar{
    border-radius: 50px;
    border-color: red;
}
#fotoneymar:hover{
    border-color: red;
}